<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Hinari's Cafe 管理ツール | COFFEES</title>
</head>
<body>
<h1>/coffees</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html" th:href="@{/}">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">coffees</li>
    </ol>
</nav>
<div class="my-5">
    <h2>coffees</h2>
    <div class="accordion" id="accordionCoffees">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCoffees">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCoffees" aria-expanded="true" aria-controls="collapseCoffees">
                    TABLE
                </button>
            </h2>
            <div id="collapseCoffees" class="accordion-collapse collapse" aria-labelledby="headingCoffees"
                 data-bs-parent="#accordionCoffees">
                <div class="accordion-body">
                    <div class="d-flex justify-content-start my-2 ">
                        <a href="./coffees/coffees/edit.html" th:href="@{/coffees/coffees/edit}">
                            <button class="btn btn-primary" type="button">ADD</button>
                        </a>
                    </div>
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">pubDate</th>
                            <th scope="col">name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coffee : ${coffees}">
                            <td th:text="${coffee.pubDate}">(pubDate)</td>
                            <td th:text="${coffee.name}">(name)</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <a href="./coffees/coffees/edit.html"
                                       th:href="@{/coffees/coffees/{objectId}(objectId=${coffee.id})}">
                                        <button class="btn btn-secondary" type="button">
                                            EDIT
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>