<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Hinari's Cafe 管理ツール | coffees edit</title>
</head>
<body>
<div th:fragment="content">
    <h1>/coffees</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html" th:href="@{/}">home</a></li>
            <li class="breadcrumb-item"><a href="./coffees/index.html" th:href="@{/coffees}">coffees</a></li>
            <li class="breadcrumb-item active" aria-current="page">coffee</li>
        </ol>
    </nav>
    <form action="#" th:action="@{/coffees/coffees}" th:method="post" th:object="${coffee}">
        <input type="hidden" id="id" th:field="*{id}">
        <label for="videoId" class="form-label">videoId</label>
        <div class="input-group mb-3">
            <input type="text" id="videoId" class="form-control" th:field="*{videoId}">
            <button id="getVideoData" class="btn btn-secondary" type="button">
                GET
            </button>
        </div>
        <div class="mb-3">
            <label for="pubDate" class="form-label">pubDate</label>
            <input type="text" id="pubDate" class="form-control" th:field="*{pubDate}">
        </div>
        <div class="mb-3">
            <label for="videoTitle" class="form-label">videoTitle</label>
            <input type="text" id="videoTitle" class="form-control" th:field="*{videoTitle}">
        </div>
        <div class="mb-3">
            <label for="imgUrl" class="form-label">imgUrl</label>
            <input type="text" id="imgUrl" class="form-control" th:field="*{imgUrl}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" id="name" class="form-control" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="orderTime" class="form-label">orderTime</label>
            <input type="text" id="orderTime" class="form-control" th:field="*{orderTime}">
        </div>
        <div class="mb-3">
            <label for="reviewTime" class="form-label">reviewTime</label>
            <input type="text" id="reviewTime" class="form-control" th:field="*{reviewTime}">
        </div>
        <div class="mb-3">
            <label for="reviewText" class="form-label">reviewText</label>
            <textarea id="reviewText" class="form-control" th:field="*{reviewText}" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">note</label>
            <textarea id="note" class="form-control" th:field="*{note}" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end my-2">
            <button type="submit" class="btn btn-primary">
                UPDATE
            </button>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/coffeesEdit.js}"></script>
</div>
</body>
</html>